<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Email Verification Service</title>
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script lang="javascript">
		var urlParams = new URLSearchParams(location.search);
		
		if (urlParams.has("token")) {
			verifyToken(urlParams.get("token"));
		}
		
		function verifyToken(tokenValue) {
			$.get('http://localhost:8080/mobile-app-ws/users/email-verification', {token: tokenValue})
			.done(function(response) {
				console.log(response);
				if (response["operationResult"] === "SUCCESS") {
					$("#not-successful-result").attr("style", "display: none !important;");
					$("#successful-result").attr("style", "display: block !important;");
				}
				else {
					$("#not-successful-result").attr("style", "display: block !important;");
					$("#successful-result").attr("style", "display: none !important;");
				}
			});
		}
	</script>
</head>
<body>
	<div id="successful-result" style="text-align: center; display: none;">
		Successful verification
	</div>
	<div id="not-successful-result" style="text-align: center; display: none;">
		Verification link has expired
	</div>
</body>
</html>