<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Password Reset</title>
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script>
		
		var urlParams = new URLSearchParams(location.search);
		console.log(urlParams);
		function isEmpty(str) {
			return (!str || 0 === str.trim().length);
		}
		
		function saveNewPassword() {
			var urlParams = new URLSearchParams(location.search);
			console.log(location.search);
			if (!urlParams.has('token') || isEmpty(urlParams.get('token'))) {
				console.log(urlParams.has('token'));
				console.log(urlParams.get('token'));
				alert('missing the required Token');
				
				return;
			}
			
			var tokenValue = urlParams.get('token');
			
			var password_one = document.getElementById('password_one').value;
			var password_two = document.getElementById('password_two').value;
			
			if (isEmpty(password_one)) {
				alert("Password cannot be empty");
				return;
			}
			
			if (password_one !== password_two) {
				alert('Passwords do not match');
				
				return;
			}
			
			$.post('http://localhost:8080/mobile-app-ws/users/password-reset', {
				token: tokenValue,
				password: password_one
			}).done(function (response) {
				document.getElementById('password_one').value="";
				document.getElementById('password_two').value="";
				
				if (response['RESULT'] === 'SUCCESS') {
					$("#not-successful-result").attr("style", "display: none !important;");
					$("#successful-result").attr("style", "display: block !important;");
				}
				else {
					$("#successful-result").attr("style", "display: none !important;");
					$("#not-successful-result").attr("style", "display: block !important;");
				}
			});	
		}
		
	</script>
</head>
<body>
	<div id="successful-result" style="text-align: center; display: none;">
		Your password is now updated
	</div>
	<div id="not-successful-result" style="text-align: center; display: none;">
		Could not update password 
	</div>
	
	<form>
		New password <input type="password" id="password_one"><br>
		Retype new password <input type="password" id="password_two"><br>
		<input type="button" value="Save new password" onclick="saveNewPassword()">
	</form>
	
</body>
</html>